/* @import url(https://fonts.google.com/specimen/Outfit); */
body{
    background: hsl(217, 54%, 11%);
    font-family: 'outfit', sans-serif;
}
.nft{
    background-color: hsl(216, 50%, 16%);
    text-align: center;
    margin: 50px 525px 50px 525px;
    border-radius: 15px;
}
.image{
    max-width: 85%;
    margin-top: 5%;
    border-radius: 5px;
    height: auto;
}
.title{
    /* background: red; */
    padding-left: 7%;
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    color: white;
    margin-top: 5%;
    
}
/* .desc{
    margin-top: 5%; */
    /* padding-left: 5.75%; */
    /* font-size: 18px;

} */
p span {
    display: block;
    text-align: left;
    font-size: 18px;
    padding-left: 7%;
    font-weight: 400;
    opacity: 60%;
    color:  hsl(215, 51%, 70%);
  }
  .amount{
    display: flex;
    padding-left: 7%;
    /* background-color: black; */
  }
  .image__3{
    align-self: center;
    width: 1.25vw;
  }
  .image__4{
    align-self: center;
    width: 2vw;
    margin-right: 3%
  }
  .time{
      display: flex;
      flex-grow: 1;
      margin-left: 30%
  }
  .amount p{
      color: hsl(178, 100%, 50%);
      margin-left: 3%;
      margin-top: 5%
  }
  .time p{
    margin-top: 10%;
  }
  .images__2 img{
    align-self: center;
    width: 40%;
    border: 1px solid white;
    border-radius: 100px;
    margin-right: 1%;
    margin-top: 10px;
  }
  
  hr{
    width: 90%;
    align-self: center;
    border: 1px solid hsl(215, 32%, 27%)

  }
  .avatar{
    display: flex;
    padding-bottom: 5%;

  }
  .name{
    width: 120%;
    /* background-color: white; */
    /* flex-grow: 1; */
    color: hsl(215, 51%, 70%);
    font-family: 'outfit', sans-serif;
    padding-right: 100px;
    text-align: left;
    vertical-align: top;   
  }
  /* .image__avatar{
    object-position: 50px 30px;
  } */
  mark{
    color: white;
    background-color: transparent;
    font-family: 'outfit', sans-serif;
  }
  @media (max-width: 800px) {
    .nft{
    width: 90%;
    margin: auto;
    }
    .image__3{
      width: 1.2rem;
    }
    .image__4{
      width: 1.5rem;
    }
  }
  